day3/labs/usecase/usecase-soap-external/ws-camel-external-webservice_v2/src/main/resources/META-INF/wsdl/HelloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://javafirst.jaxws.cxf.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloWorldImplService" targetNamespace="http://javafirst.jaxws.cxf.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://javafirst.jaxws.cxf.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://javafirst.jaxws.cxf.mycompany.com/" version="1.0">

  <xs:element name="sayHi" type="tns:sayHi"/>

  <xs:element name="sayHi2" type="tns:sayHi2"/>

  <xs:element name="sayHi2Response" type="tns:sayHi2Response"/>

  <xs:element name="sayHiResponse" type="tns:sayHiResponse"/>

  <xs:complexType name="sayHi2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHi2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHi">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHi2">
    <wsdl:part element="tns:sayHi2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi2Response">
    <wsdl:part element="tns:sayHi2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi">
    <wsdl:part element="tns:sayHi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part element="tns:sayHiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="sayHi2">
      <wsdl:input message="tns:sayHi2" name="sayHi2">
    </wsdl:input>
      <wsdl:output message="tns:sayHi2Response" name="sayHi2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHi" name="sayHi">
    </wsdl:input>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldImplServiceSoapBinding" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHi2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHi2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldImplService">
    <wsdl:port binding="tns:HelloWorldImplServiceSoapBinding" name="HelloWorldImplPort">
      <soap:address location="http://localhost:8080/cxf-jaxws-javafirst/HelloWorld"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>